name: CI pipeline (push only)

on:
  push:

jobs:
  ci-checks:
    name: Run Linting, Tests, and Docker Build Check
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install flake8

    - name: Run linter
      run: flake8 .

    - name: Run unit tests
      run: pytest

    
    - name: Docker build test
      run: docker build -t test-image -f Dockerfile .

  build-and-publish:
    name: Build and Publish Docker Image
    needs: ci-checks
    runs-on: ubuntu-latest
    
    if: github.ref == 'refs/heads/main'

    permissions:
      id-token: write
      contents: write

    steps:
    - name: Check out
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and publish image
      run: |
        registry="fuad95"
        sha=$(git rev-parse --short HEAD)
        tag="${registry}/cicd-test:${sha}"

        docker build -t $tag -f Dockerfile .
        docker push $tag

